</head>

<body>
    <nav>
        <a href="/destinations/new" <%- title==='Add Performer' ? 'class="active"' : '' %>>
            ADD DESTINATION
        </a>
        <a href="/flights/new" <%- title==='Add Movie' ? 'class="active"' : '' %>
            >ADD FLIGHT</a>
        <a href="/flights" <%- title==='All Movies' ? 'class="active"' : '' %>
            >ALL FLIGHTS</a>
    </nav>